<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Courses</title>
    <link rel="stylesheet" href="/css/course.css">
</head>
<body>
    <h2 style="text-align: left;">
        <a style="text-decoration: none; color: black;" href="/admin/courses"> ► courses ►</a>
    </h2>
    
    <h1>Available Courses</h1>
    <div class="container">
        <div class="courses-list">
            <!-- Loop through each course and generate a card -->
            <% courses.forEach(course => { %>
                <div class="course-card" id="course-<%= course.course_id %>" onclick="window.location.href='/admin/subjects/<%=course.course_id%>'">
                    <span id="course-name-<%= course.course_id %>"><%= course.course_name %></span>
                    <div class="course-actions">
                    </div>
                </div>
            <% }); %>
        </div><br>
        <div class="form-group">
            <button class="add-course" ><a style="text-decoration:none ;color: white; width: 2;" href="/admin/manageCourse">Manage Course</a></button>
        </div>
       
        
    </div>

</body>